@-webkit-keyframes griezas {  
  0% { background-image: url("disks1.png");}
  33% { background-image: url("disks2.png");}
  66% { background-image: url("disks3.png");}
  100% { background-image: url("disks1.png");}
}
.griezas{
  -webkit-animation-name: griezas;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1.0s; 
}
@-webkit-keyframes lasa {  
  0% { background-image: url("adata1.png");}
  33% { background-image: url("adata2.png");}
  66% { background-image: url("adata3.png");}
}
.lasa{
  -webkit-animation-name: lasa;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 0.27s; 
}
.adata{
	position:relative;
	height:125px;
	width:15px;
	top:25px;
	left:15px;
	float:left;
	background-image: url("adata.png");
    background-size: 15px 125px;
    background-repeat: no-repeat;
}
.disks{
	height:150px;
	width:150px;
    border-radius:10px;
	float:right;
	background-image: url("disks.png");
    background-size: 150px 150px;
    background-repeat: no-repeat;
}
.bloks{
	float:left;
	background-color:#E0E0E0;
	margin:10px;
	padding:15px;
	padding-left:0px;
    border-radius:10px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.dodas
{
	background-color:yellow;
}
.darits0
{
	background-color:#00CC00;
	color:#FFFFFF;
}
.darits1
{
	background-color:#22AA00;
	color:#FFFFFF;
}
.darits2
{
	background-color:#448800;
	color:#FFFFFF;
}
.darits3
{
	background-color:#666600;
	color:#FFFFFF;
}
.darits4
{
	background-color:#884400;
	color:#FFFFFF;
}.darits5
{
	background-color:#AA0000;
	color:#FFFFFF;
}
.mainigais{
	font-weight: bold;
}
h4
{
	text-align:center;
	margin:5px;
}
h1
{
	margin:7px;
}
button
{
	margin:2px;
}
#grupa
{
	font-size:40%;
}
#i_atr
{
	width:22px;
}